@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;

}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Marcellus', Roboto Slab;
}

.bnt {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #111;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
}

.bnt:hover {
    cursor: pointer;
    background: #000;
}

.logo {
    font-size: 2rem;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;

}

#navbar {
    width: 100%;
    background-color: #111;
    color: #eee;
    height: 80px;
    position: fixed;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-items: space-between;
    align-items: center;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;

}

#navbar-items li {
    padding: 10px;
}

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('img/fundo1.jpeg.jpeg') no-repeat center center/cover;

    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: color
}

#showcase-container {
    text-align: center;
}

#showcase-container h2 {
    font-size: 2.5rem;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 7px 0;
}

#clients {
    width: 100%;
    background: #eee;
    color: #000;
    padding: 50px;
}

#clients-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 15px;
}

.clients {
    display: inline-block;
    width: 25%;
}

#product {
    width: 100%;
    padding: 50px;
}

#product-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#items {
    width: 650px;
}

#items .item {
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
}

.testimonial {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background: #333;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

#testimonials {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
}

#tesitmonials-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.testimonial .testimonial-image {
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 15px 0;
}

#galeria {
    width: 90%;
    margin: auto;
    padding: 50px;
}

#galeria-container {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.galeria-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
#footer {
    background: #222;
    color: #eee;
    padding: 30px;
    text-align: center;
}